In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [18]:
data = { 
    'Nom': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Département': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Sexe': ['Homme', 'Femme', 'Homme', 'Femme', 'Homme', 'Femme'],
    'Salaire': [50000, 60000, 45000, 55000, 70000, 55000],
    'Expérience' : [3, 7, 2, 5, 10, 4],
}
employe_df = pd.DataFrame (data)

In [22]:
Trois_première_lignes = employe_df.iloc[:3]
print ("Les 3 premières lignes de la trame de données :", Trois_première_lignes)

Les 3 premières lignes de la trame de données :     Nom Département  Age   Sexe  Salaire  Expérience
0  John          IT   30  Homme    50000           3
1  Mary   Marketing   40  Femme    60000           7
2   Bob       Sales   25  Homme    45000           2

In [25]:
marketing_df = employe_df.loc[employe_df['Département'] == 'Marketing']
print (" Toutes les lignes où le département est « Marketing »", marketing_df)

 Toutes les lignes où le département est « Marketing »     Nom Département  Age   Sexe  Salaire  Expérience
1  Mary   Marketing   40  Femme    60000           7
5  Lisa   Marketing   28  Femme    55000           4

In [29]:
Age_Sex_Quatre_Ligne = employe_df.iloc[:4, 2:4] 
print ("les colonnes Âge et Sexe pour les 4 premières lignes du dataframe"), Age_Sex_Quatre_Ligne)

SyntaxError: unmatched ')' (401227323.py, line 2)